$primary: #65c4a9; // primary color
$accent: lighten($primary, 37%); // accent color
$dark: #222;
$light: #f0f0f0;

$text: #3c3c3c; // dark grey

$font: "Roboto Slab", slab-serif;
$font2: "Open Sans", sans-serif;

